.contact{
    position: relative;
}

.contact .contact-main-container{
    min-height:100vh;
    padding: 0 5rem 8rem 5rem;
    background-image: url("../assets/images/both.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact .contact-main-container .heading-container{
    align-self: flex-start;
}

.contact .contact-main-container .heading-container .heading-text{
    font-size: 9rem;
    font-family: "engschrift-caps" sans-serif !important;
    color: rgba(215, 218, 220,0.4);
    letter-spacing: 6rem;
    font-weight: 300;
}

.contact .contact-main-container .line-container{
    height: 0.25rem;
    width:100rem;
    background-color: rgba(255, 255, 255, 0.05);
    transform: rotate(-320deg);
}

.contact .contact-main-container .form-container{
    align-self: center;
    width: 80%;
    margin: 1rem 0;
    padding: 6rem 8rem;
}

.contact .contact-main-container .form-container .label{
    font-size: 2.5rem;
    color: white;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.contact .contact-main-container .form-container .input-box{
    font-size: 2rem;
    padding: 1rem 0.5rem;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.contact .contact-main-container .form-container .button{
    font-size: 2.5rem;
    margin-top: 3rem;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
    padding: 0.5rem 5rem;
}

.contact .contact-main-container .contact-card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    margin: 10rem 0;
    flex-wrap: wrap;
}

.contact .contact-main-container .contact-card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    flex-wrap: wrap;
}

.contact .contact-main-container .contact-card-box .contact-name{
    font-size: 4rem;
    padding: 0.5rem 0;
    font-family: "engschrift-caps" sans-serif !important;
    font-weight: 300;
}

.contact .contact-main-container .contact-card-box .contact-post{
    font-size: 2.5rem;
    padding: 0.5rem 0;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.contact .contact-main-container .contact-card-box .contact-mobile{
    font-size: 3rem;
    padding: 0.5rem 0;
    letter-spacing: 0.13rem;
}

@media only screen and (max-width:37.5em){
    .contact .contact-main-container .form-container .label{
        font-size: 5rem;
    }
    
    .contact .contact-main-container .form-container .input-box{
        font-size: 4rem;
    }

    .contact .contact-main-container .form-container .button{
        font-size: 5rem;
    }
}


@media only screen and (max-width:25em){
    .contact .contact-main-container .form-container{
        width: 100%;
    }

    .contact .contact-main-container .contact-card-container{
        flex-direction: column;
        justify-content: space-around;
    }

    .contact .contact-main-container .contact-card-box .contact-name{
        font-size: 8rem;
    }
    
    .contact .contact-main-container .contact-card-box .contact-post{
        font-size: 5rem;
    }
    
    .contact .contact-main-container .contact-card-box .contact-mobile{
        font-size: 6rem;
    }
}