.part-1-main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid{
    flex-basis: 50rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-1-main-container .drop-down-container{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.part-1-main-container .drop-down-container .label{
    font-size: 3.5rem;
    padding: 2rem 0;
    align-self: flex-start;
    color: white;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.part-1-main-container .drop-down-container #size{
    font-size:2rem;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.part-1-main-container .abstract-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
}

.part-1-main-container .abstract-container .abstract-text{
    font-size: 3rem;
    padding: 2rem 0;
    align-self: flex-start;
    color: white;
}

.part-1-main-container .abstract-container a{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    font-family: 'Inconsolata', monospace !important;
    font-size: 2.5rem;
    letter-spacing: 0.09rem;
    font-weight: 500;
    /* height: 5rem; */
    padding: 1.5rem 2rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
}
.part-1-main-container .abstract-container a:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
    }

.part-1-main-container .abstract-container .upload{
    width: 100%;
    font-size: 2.5rem;
    /* color: white; */
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.part-1-main-container .input-container-box{
    display:flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem auto;
    justify-self: center;
}

.part-1-main-container .input-container-box .input-container-heading{
    font-size: 3rem;
    color: white;
    align-self: center;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.part-1-main-container .input-container-box .input-container{
    margin: 2rem 0;
    width: 100%;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.part-1-main-container .input-container-box .input-container .label{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace !important;
}

.part-1-main-container .input-container-box .input-container .input-box{
    font-size:2rem;
}

@media only screen and (max-width:37.5em){
    .part-1-main-container .input-container-box{
        width:100%;
    }
    .part-1-main-container .drop-down-container .label{
        font-size: 7rem;
    }
    .part-1-main-container .abstract-container .abstract-text{
        font-size: 7rem;
    }
    .part-1-main-container .drop-down-container #size{
        font-size:6rem;
    }
    .part-1-main-container .input-container-box .input-container .label{
        font-size: 7rem;
    }
    .part-1-main-container .input-container-box .input-container .input-box{
        font-size:6rem;
    }
    .part-1-main-container .input-container-box .input-container-heading{
        font-size: 6rem;
    }
    .part-1-main-container .abstract-container .upload{
        font-size: 5rem;
    }
    .part-1-main-container .abstract-container a{
        font-size: 5.5rem;
        padding: 2rem ;
    }
}
