@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap');

.registration .registration-main-container{
    min-height:100vh;
    padding: 0 5rem 8rem 5rem;
    background-image: url("../assets/images/line.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.registration .registration-main-container .heading-container{
    align-self: flex-start;
}

.registration .registration-main-container .heading-container .heading-text{
    font-size: 12rem;
    letter-spacing: 6rem;
    color: rgba(255, 255, 255, 0.128);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

.registration .registration-main-container .line-container{
    height: 0.25rem;
    width:100rem;
    background-color: rgba(255, 255, 255, 0.05);
    transform: rotate(-320deg);
}

.registration .registration-main-container .form-box-container{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    z-index: 1;
    margin: auto 0;
    width: 100%;
}

.registration .registration-main-container .form-box-container .form-box{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-self: stretch;
    width: 100%;
}

.registration .registration-main-container .form-box-container .form-box .form-header{
    font-size: 5rem;
    letter-spacing: 2.5rem;
    color: white;
    justify-self: flex-start;
}

.registration .registration-main-container .form-box-container .form-box .form-body{
    padding: 6rem 10rem;
    width: 100%;
}

.registration .registration-main-container .form-box-container .form-footer{
    display: flex;
    justify-content: space-between;
}

.registration .registration-main-container .form-box-container .form-footer button{
    font-size: 3rem;
    border: none;
    outline: none;
    padding: 1rem 5rem;
    margin: 0 4rem;
    border-radius: 5rem;
    cursor: pointer;
}

.registration .registration-main-container .form-box-container .form-footer button:disabled{
    cursor: no-drop;
}

@media only screen and (max-width:25em){
    .registration .registration-main-container .heading-container .heading-text{
        font-size: 15rem;
        letter-spacing: 6rem;
    }

    .registration .registration-main-container .line-container{
        height: 0;
    }
}

@media only screen and (max-width:20em){
    .registration .registration-main-container .heading-container .heading-text{
        font-size: 20rem;
        letter-spacing: 4rem;
    }

    .registration .registration-main-container .line-container{
        height: 0;
    }
}
