/* $bp-xl: 125em;//2000px
$bp-largest:75em; //1200px
$bp-large:62.5em; //1000px
$bp-medium:50em; //800px
$bp-small:37.5em; //600px
$bp-xs: 25em;//400px
$bp-xxs:12.5em;//200px */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif !important;
}

html {
    font-size: 50%;
}

@media only screen and (min-width:125em){
    html{
        font-size: 70%;
    }
}

@media only screen and (max-width:75em){
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width:62.5em){
    html{
        font-size: 40%;
    }
}

@media only screen and (max-width:50em){
    html{
        font-size: 30%;
    }
}

@media only screen and (max-width:37.5em){
    html{
        font-size: 20%;
    }
}

@media only screen and (max-width:25em){
    html{
        font-size: 15%;
    }
}

@media only screen and (max-width:12.5em){
    html{
        font-size: 5%;
    }
}